<div class="navbar-sidebar-wrapper">
  <nav class="scoop-side-navbar" *ngIf="!isMobileView">
    <ul class="scoop-navbar-list">
      <li *ngIf="canSeeRegisterItem()" routerLink="/registro-usuarios" routerLinkActive="active"class="scoop-navbar-item">
        <span class="material-icons">person_add</span>
        <span>Registro</span>
      </li>
      <li *ngIf="canSeeAdminItems()" routerLink="/administrador" routerLinkActive="active" class="scoop-navbar-item">
        <span class="material-icons">admin_panel_settings</span>
        <span>Admins</span>
      </li>
      <li *ngIf="canSeeTeacherItems()" routerLink="/maestros" routerLinkActive="active" class="scoop-navbar-item">
        <span class="material-icons">people</span>
        <span>Maestros</span>
      </li>
      <li *ngIf="canSeeStudentItems()" routerLink="/alumnos" routerLinkActive="active" class="scoop-navbar-item">
        <span class="material-icons">school</span>
        <span>Alumnos</span>
      </li>
      <li *ngIf="canSeeStudentItems()" routerLink="/graficas" routerLinkActive="active" class="scoop-navbar-item">
        <span class="material-icons">bar_chart</span>
        <span>Gráficas</span>
      </li>

      <li *ngIf="canSeeTeacherItems()" (click)="toggleMateriasDropdown()" class="scoop-navbar-item dropdown-parent" [class.active-dropdown]="materiasDropdownOpen">
        <span class="material-icons">library_books</span>
        <span>Materias</span>
        <span class="material-icons dropdown-arrow">
            {{ materiasDropdownOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </span>

        <ul class="scoop-dropdown-menu" *ngIf="materiasDropdownOpen">
            <li routerLink="/materias" routerLinkActive="active" (click)="$event.stopPropagation(); closeMateriasDropdown()">
                <span class="material-icons">list</span>
                Listar Materias
            </li>
            
            <li *ngIf="canSeeAdminItems()" routerLink="/registro-materias" routerLinkActive="active" (click)="$event.stopPropagation(); closeMateriasDropdown()">
                <span class="material-icons">add_circle</span>
                Agregar Materia
            </li>
        </ul>
      </li>
      
      <li *ngIf="canSeeTeacherItems()" routerLink="/eventos-academicos" routerLinkActive="active" class="scoop-navbar-item">
        <span class="material-icons">event</span>
        <span>Eventos Académicos</span>
      </li>
    </ul>
    <button class="scoop-logout-btn" (click)="logout()">
      <span class="material-icons">logout</span>
      <span>Cerrar sesión</span>
    </button>
  </nav>

  <nav class="scoop-navbar">
    <button class="dashboard-toggle-btn" *ngIf="isMobileView" (click)="toggleSidebar()" aria-label="Abrir menú">
      <span class="material-icons">menu_open</span>
    </button>
    <span class="scoop-navbar-logo">BUAP</span>
    <div class="scoop-navbar-icons">
      <span class="material-icons navbar-icon" (click)="togglePalette()" style="cursor:pointer">palette</span>
      <div class="scoop-navbar-avatar" *ngIf="userInitial">{{ userInitial }}</div>
    </div>
  </nav>

  <div *ngIf="isMobileView"> 
    <div class="mobile-sidebar-overlay" [ngClass]="{'mobile-open': mobileOpen}" (click)="closeSidebar()"></div>
    <nav class="scoop-side-navbar" [ngClass]="{'mobile-open': mobileOpen}">
      <ul class="scoop-navbar-list">

        <li *ngIf="canSeeRegisterItem()" routerLink="/registro-usuarios" routerLinkActive="active"class="scoop-navbar-item" (click)="closeSidebar()">
          <span class="material-icons">person_add</span>
          <span>Registro</span>
        </li>
        <li *ngIf="canSeeAdminItems()" routerLink="/administrador" routerLinkActive="active" class="scoop-navbar-item" (click)="closeSidebar()">
          <span class="material-icons">admin_panel_settings</span>
          <span>Admins</span>
        </li>
        <li *ngIf="canSeeAdminItems()" routerLink="/maestros" routerLinkActive="active" class="scoop-navbar-item"
          (click)="closeSidebar()">
          <span class="material-icons">people</span>
          <span>Maestros</span>
        </li>
        <li *ngIf="canSeeStudentItems()" routerLink="/alumnos" routerLinkActive="active" class="scoop-navbar-item"
          (click)="closeSidebar()">
          <span class="material-icons">school</span>
          <span>Alumnos</span>
        </li>
        <li *ngIf="canSeeStudentItems()" routerLink="/graficas" routerLinkActive="active" class="scoop-navbar-item"
          (click)="closeSidebar()">
          <span class="material-icons">bar_chart</span>
          <span>Gráficas</span>
        </li>

        <li *ngIf="canSeeTeacherItems()" (click)="toggleMateriasDropdown()"class="scoop-navbar-item dropdown-parent"[class.active-dropdown]="materiasDropdownOpen">
          <span class="material-icons">library_books</span>
          <span>Materias</span>
          <span class="material-icons dropdown-arrow">
              {{ materiasDropdownOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
          </span>

          <ul class="scoop-dropdown-menu" *ngIf="materiasDropdownOpen">
              <li routerLink="/materias" routerLinkActive="active" (click)="$event.stopPropagation(); closeMateriasDropdown(); closeSidebar()">
                  <span class="material-icons">list</span>
                  Listar Materias
              </li>
              
              <li *ngIf="canSeeAdminItems()" routerLink="/registro-materias" routerLinkActive="active" (click)="$event.stopPropagation(); closeMateriasDropdown(); closeSidebar()">
                  <span class="material-icons">add_circle</span>
                  Agregar Materia
              </li>
          </ul>
        </li>

        <li *ngIf="canSeeTeacherItems()" routerLink="/eventos-academicos" routerLinkActive="active"class="scoop-navbar-item" (click)="closeSidebar()">
          <span class="material-icons">event</span>
          <span>Eventos Académicos</span>
        </li>
      </ul>
      <button class="scoop-logout-btn" (click)="logout(); closeSidebar()">
        <span class="material-icons">logout</span>
        <span>Cerrar sesión</span>
      </button>
    </nav>
  </div>
  </div>